.black {
    color: #222;
}

.bg-gray {
    background-color: var(--teal)
}

body {
    font-family: var(--font-arial);
    font-size: 13px;
}

header {

    color: #fff;
    text-decoration: none;
}

.logo img {
    height: auto;
    width: 100%;

}

.icon {
    color: var(--white);
}


.formPerquisa {
    background-color: var(--white);
    border-radius: 10px;
    border: solid 3px;
}

.formPerquisa select,
.formPerquisa input,
.formPerquisa button {
    height: 40px;
    border: none;
    outline: none;
}

.formPerquisa select {
    background-color: #dadada;
    padding-left: 10px;
    width: 30%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.formPerquisa input {
    width: 48%;
}

.formPerquisa button {
    padding: 0 10px;
    width: 15%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

@media (max-width:760px) {
    .formPerquisa select {
        display: none;
    }

    .formPerquisa input {
        width: 85%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding-left: 10px;
    }
}

/* ------------header------------- */

nav div {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 0 px;
    color: #ffffff;
    font-size: 12px;
    /* overflow: auto; */
    text-decoration: none;
    list-style: none;
}

nav div div {
    font-size: 12px;
}

span {
    padding-left: 5px;
    justify-content: left;
}

nav div menu {
    padding: 5px;
}

/* nav div img {
    justify-content: right;
} */

a {
    text-decoration: none;
}

a:hover {
    border: 1px solid;
    margin-bottom: auto;
    border-radius: 5px;
    border-color: #ffffff;
    text-decoration: none;
}

/* .flex-container {
    display: flex;
    height: 400px;
    background-color: var(--gold);
    justify-content: center;
}

.flex-container div {
    display: table-cell;
    color: #dadada;
    background-color: #222;
    margin: 10px;
    margin-top: 200px;
    padding: 10px;
    font-size: 25px;
    height: 300px;
    justify-content: space-between;
} */

.carousel {
    height: 100%;
    min-height: 500px;
    background-image: url(/img/banner/61vMcktz42L._SX3000_.jpg);
    background-position: top;
    background-size: cover;
    position: relative;
}

.carousel>div {
    margin: 15px;
}

.imagem-carrossel {
    border-radius: 50%;
}

.carrossel {
    margin-top: 20px;
}

.produto-categoria-carousel-item {
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
    height: 250px;
}

.produto-categoria-carousel a {
    color: var(--blue);
    font-size: 12px;
}

.produto-categoria-carousel {
    position: relative;
}

/* .produto {
    padding: 0 5px;
    justify-content: space-between;
}
*/
.produtos {
    display: flex;
    flex-direction: row;
    height: 350px;
    padding-left: 100px;
    padding-right: 100px;
}

.flex-container {
    display: inline-flex;
    align-items: center;
    /* margin: 0 10 10; */

}

/* Produtos */
.produto {
    padding: 0 5px;
}

.produto a {
    text-decoration: none;
    color: var(--black);
}

.produto .valor span {
    text-decoration: line-through;
}

.produto .descricao {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.produtos,
.produto-comum,
.produto-amazon,
.produto-noticia,
.produto-item {
    padding: 15px;
    background-color: var(--white);
    /* height: 100%;
    min-height: 300px; */
    height: 330px;
    position: relative;
}

.produto-comum div {
    height: 65%;
    overflow: hidden;
    text-align: center;
}

.produto-amazon div {
    width: 30%;
    float: left;
}

.produto-noticia {
    justify-self: center;
}

.produto-item div {
    background-color: aqua;
    height: 100%;
    min-height: 100px;
    max-height: 130px;
    margin-bottom: 15px;
}

.saiba-mais {
    width: 100%;
    padding-bottom: 10px;
    position: absolute;
    left: 10px;
    bottom: 5px;
    color: var(--black)
}

.saiba-mais a {
    color: var(--green);
    font-weight: 600;
}

.saiba-mais a:hover {
    color: var(--orange);
    text-decoration: underline;
}

.carrinho {
    position: relative;
    height: 50px;
}

.car-icon {
    justify-content: center;
    position: absolute;
    left: 10%;
    font-size: 30px;
}

.quantidade {
    justify-content: center;
    position: absolute;
    left: 30%;
    bottom: 30%;
    color: var(--orange);
}

section {
    background-image: linear-gradient(transparent, var(--gray) 30%);
    position: relative;
    top: -250px;
}

.setas {
    position: absolute;
    top: 100px;
    color: var(--white);
    background-color: #ffffff55;
    width: 50px;
    height: 100px;
    padding-top: 25px;
    padding-left: 5px;
}

.setas i {
    font-size: 54px;
    color: var(--white);
}

.setas-right {
    right: 5px;
}

.setas-left {
    left: 5px;
}