.cart {
    margin: 25px auto;
}

.cart section div,
.cart aside div {
    background-color: var(--white);
    margin-bottom: 10px;
    padding: 10px;
}

h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}